<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title>nkn-ruby</title>
  </head>
  <body>
    <form method="get" action="/">
      <h3>Source</h3>
      <div>
        <textarea name="source"><%= @source %></textarea>
      </div>
      <div>
        <input type="submit" value="Run">
      <div>
    </form>
    <h3>Result</h3>
    <div>
      <textarea name="result"><%= @result %></textarea>
    </div>
  </body>
</html>
